

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    match /users/{uid} { allow read: if isSignedIn() && request.auth.uid == uid; allow write: if isSignedIn() && request.auth.uid == uid; }
    match /pacientes/{dni} { allow read, create, update: if isSignedIn(); }
    match /turnos/{id} { allow read, create, update: if isSignedIn(); }
    match /pagos/{id} { allow read, create: if isSignedIn(); }
  }
}
